<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zachary.reactnative.leancloudsdk">

  <application android:allowBackup="true"
               android:label="@string/app_name"
               android:supportsRtl="true"
  >

  
    <service android:name="com.zachary.reactnative.leancloudsdk.RNPushNotificationRegistrationService"/>
    <!--<service android:name="com.avos.avoscloud.PushService" />-->

    <!--<receiver android:name="com.zachary.reactnative.leancloudsdk.RNPushNotificationBootEventReceiver">-->
      <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
      <!--</intent-filter>-->
    <!--</receiver>-->

    <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver" >
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.USER_PRESENT" />
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
      </intent-filter>
    </receiver>

    <receiver android:name="com.zachary.reactnative.leancloudsdk.RNPushNotificationPublisher" />
    <receiver
      android:name="com.zachary.reactnative.leancloudsdk.RNLeanCloudPushReceiver"
      android:exported="false" >
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.USER_PRESENT" />
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        <action android:name="com.zachary.leancloud.push.action" />
      </intent-filter>
    </receiver>

  </application>

</manifest>
